@inject NavigationManager navMan;
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        navMan.NavigateTo("/counter");

        await Task.CompletedTask;
    }
}